

     <section id="header" class="grid">
        <div class="container">
            <div class="grid">
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="note_left"><%= render 'note' %></div>
                <div class="title" style="font-family: 'Pacifico', cursive;">Don't Fret</div>
                <div class="note_right"><%= render 'note' %></div>
                <div class="note_left"><%= render 'note' %></div>
                <div class="note_right"><%= render 'note' %></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>
        </div>

    </section>

    <%= render "layouts/sub-navbar" %>


