<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Pacifico');
    </style>

    <title>Music Store</title>
       

</head>

<body>
    
    <div class="navbar">
        <% if user_signed_in? %>
        <% else %>
            <%= link_to('Login', new_user_session_path)  %>  
        <% end %>

        <% if user_signed_in? %>
        Welcome, <%= current_user.name %>
            (<%= link_to('Logout', destroy_user_session_path, method: :delete) %>) 
        <% end %>

        <% if user_signed_in? %>
        <%= link_to 'Sell Your Instrument or Accessory', new_product_path %>
        <%= link_to 'Edit Your Details', edit_user_registration_path %>
        <% end %>

        <%= form_tag search_products_path do %>
        <input class="search full-width" id="searchbar" name="query" placeholder="Search Products" type="text" autocomplete="off" >
        <% end %>
    </div>

    <section id="header" class="grid">
       <div class="container">
        <div class="grid">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="note_left"><%= render 'note' %></div>
        <div class="title" style="font-family: 'Pacifico', cursive;">Don't Fret</div>
        <div class="note_right"><%= render 'note' %></div>
        <div class="note_left"><%= render 'note' %></div>
        <div class="note_right"><%= render 'note' %></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
  </div>
</div>

    </section>


    <section id="section-b" class="grid">
            <div class="content-wrap">
                <h2 class="content-title">Sales</h2>
                <ul>
                <li>
                    <div class="card">
                        <div class="card-content">
                            <h3 class="card-title">Buying</h3>
                                <ul>
                                <li><%= link_to "Strings", "/strings" %></li>
                                <li><%= link_to "Percussion", "/percussion" %></li>
                                <li><%= link_to "Woodwind", "/woodwind" %></li>
                                <li><%= link_to "Brass", "/brass" %></li>
                                <li><%= link_to "Keyboard", "/keyboard" %></li>
                                </ul>
                            
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-content">
                            <h3 class="card-title">Selling</h3>
                        </div>
                    </div>
                </li>


</body>
