<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
  <%= form.label :image %>
  <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, [
      ['String Family', {disabled: 'disabled'}],
      'Banjo',
      'Cello',
      'Cittern',
      'Guitar',
      'Harp',
      'Lute',
      'Upright Bass',
      'Viola',
      'Violin',
      ['Woodwind Family', {disabled: 'disabled'}],
      'Clarinet',
      'Flute',
      'Oboe',
      'Pipe',
      'Recorder',
      'Reeds',
      'Saxophone',
      ['Percussion Family', {disabled: 'disabled'}],
      'Acoustic Drum Set',
      'Bells',
      'Cymbals',
      'Castanets',
      'Congas',
      'Electric Drum Set',
      'Frame Drums',
      'Hand Drums',
      'Maracas',
      'Xylophone',
      ['Brass Family', {disabled: 'disabled'}],
      'Bugle',
      'Cornet',
      'Euphonium',
      'Flugelhorn',
      'Helicon',
      'Horn',
      'Mellophone',
      'Trombone',
      'Trumpet',
      'Tuba',
      ['Keyboard Family', {disabled: 'disabled'}],
      'Accordions & Concertinas',
      'Harpsichord',
      'Keyboard',
      'Piano',
      'Sound Synthesizers'
    ]%>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.hidden_field :city, value: current_user.city %>
  </div>

  <div class="field">
    <%= form.hidden_field :country, value: current_user.country %>
  </div>

  <div class="field">
    <%= form.label :sell_internationally, 'Do you want to sell this product internationally?' %> <br />
    <%= form.check_box :sell_internationally %> <br />
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
