    <div class="header_navbar">
        <div><% if user_signed_in? %>
            Welcome <%= current_user.username %>
            (<%= link_to('Logout', destroy_user_session_path, method: :delete) %>) 
        <% else %>
            <%= link_to('Login', new_user_session_path)  %>  
        <% end %>
        </div>

        <div>
        <%= link_to('Home', :root) %>    
        </div>

        <div>
        <% if user_signed_in? %>
        <%= link_to 'Sell Your Instrument or Accessory', "/products/profile/#{current_user.id}" %>
        <% end %>
        </div>
        
        <div>
        <% if user_signed_in? %>
        <%= link_to 'Edit Your Details', edit_user_registration_path %>
        <% end %>
        </div>

        <div><%= form_tag search_products_path do %>
        <input class="search full-width text-colour" id="searchbar" name="query" placeholder="Search Products" type="text" autocomplete="off">
        <% end %>
        </div>
    </div>